<div class="footer">
	<div class="row">
	<div class="col-sm-4">
	<p><small>&copy; greg kiar 2016</small></p>
	</div>
	<div class="col-sm-1">
	<p><a href="{{ site.baseurl }}/index.html"><i class='fa fa-home'></i></a></p>
	</div>
	<div class="col-sm-1">
	<p>
		<a href="http://www.linkedin.com/in/gkiar"><i class='fa fa-linkedin'></i></a>
  </p>
	</div>
	<div class="col-sm-1">
	<p>
		<a href="http://github.com/gkiar"><i class='fa fa-github'></i></a>
  </p>
	</div>
	<div class="col-sm-1">
	<p>
		<a href="https://scholar.google.com/citations?user=ztw6g7kAAAAJ&hl=en"><i class='fa fa-bookmark'></i></a>
  </p>
	</div>
	<div class="col-sm-1">
	<p>
		<a href="https://twitter.com/g_kiar"><i class='fa fa-twitter'></i></a>
  </p>
	</div>
	<div class="col-sm-3">
	<p class="pull-right"><small><a href="/about" title="About this site">About this site</a></small></p>
	</div>
	</div>
</div> <!-- /footer -->
