<div class="footer">
	<div class="row">
	<div class="col-sm-3">
	<p><small>&copy; greg kiar 2018</small></p>
	</div>
	<div class="col-sm-2">
	</div>
	<div class="col-sm-1">
	<p><a style="color:#0088cc; border-bottom: none;" href="{{ site.baseurl }}/index.html"><i class='fa fa-home'></i></a></p>
	</div>
	<div class="col-sm-1">
	<p>
		<a style="color:#0088cc; border-bottom: none;" href="http://www.linkedin.com/in/gkiar"><i class='fa fa-linkedin'></i></a>
  </p>
	</div>
	<div class="col-sm-1">
	<p>
		<a style="color:#0088cc; border-bottom: none;" href="http://github.com/gkiar"><i class='fa fa-github'></i></a>
  </p>
	</div>
	<div class="col-sm-1">
	<p>
		<a style="color:#0088cc; border-bottom: none;" href="https://scholar.google.com/citations?user=ztw6g7kAAAAJ&hl=en"><i class='ai ai-google-scholar'></i></a>
  </p>
	</div>
	<div class="col-sm-1">
	<p>
		<a style="color:#0088cc; border-bottom: none;" href="http://orcid.org/0000-0001-8915-496X"><i class="ai ai-orcid"></i></a>
  </p>
	</div>
	<div class="col-sm-1">
	<p>
		<a style="color:#0088cc; border-bottom: none;" href="https://twitter.com/g_kiar"><i class='fa fa-twitter'></i></a>
  </p>
	</div>
	<div class="col-sm-1">
	<p>
		<a style="color:#0088cc; border-bottom: none;" href="https://beta.doodle.com/gkiar"><i class='fa fa-calendar'></i></a>
  </p>
	</div>
	</div>
</div> <!-- /footer -->
<script>

// On load: build all figures
$( window ).load(function() {
  // Create brain slices
  var brain = brainsprite({
    canvas: "3Dviewer", // That is the ID of the canvas to build slices into
    sprite: "spriteImg", // That is the ID of the sprite image that includes all (sagital) brain slices
    nbSlice: { 'Y':233 , 'Z':189 }
  });
});
</script>
